@import 'tailwindcss';

@layer base {
  :root {
    --foreground: #000;
    --background-start: #e5e7eb;
    --background-end: #fff;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground: #fff;
      --background-start: #1f2937;
      --background-end: #000;
    }
  }

  body {
    color: var(--foreground);
    background: linear-gradient(to bottom, transparent, var(--background-end))
      var(--background-start);
  }
}
